<div id="banner">
  <div class="floated-buttons">
    <button class="btn no-text btn-icon btn-transparent close" title="Dismiss this banner" type="button">
      {{d-icon "xmark"}}
      <span aria-hidden="true">&ZeroWidthSpace;</span>
    </button>
  </div>

  <div id="banner-content">
    <p>You can login using your <a href="https://inworld.ai/">Iworld AI</a> credentials.</p>
    <p>This forum is powered by <a href="https://www.discourse.org/">Discourse</a> and relies on a <a href="https://blog.discourse.org/2018/06/understanding-discourse-trust-levels/">trust-level system</a>. As a new user, you’re temporarily limited in the number of topics and posts you can create. To lift those restrictions, just spend time reading other posts (to be precise, enter 5 topics, read through 30 posts and spend a total of 10 minutes reading).</p>
    <p>Start with reading <a href="https://inworld.ai/t/how-to-ask-questions-on-the-forum/54">this post</a>. Then maybe someone already had that error that is bugging you check with a quick <a href="https://discuss.huggingface.co/search">search</a>. Or you can read the latest <a href="http://inworld.ai/c/research/awesome-paper/">awesome paper</a> the team discussed.</p>
  </div>
</div>

